main{
    width: 50%;
    margin: 0 auto;
}
.container-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0;
}
.product{
    position: relative;
    display: block;
    border: 1px solid;
    width: 32%;
    height: 320px;
    /*border-left: none;*/
}
.header{
    display: flex;
    height: 70px;
    background-color: rgba(28, 26, 26, 0.7);
}
.burger-menu_link{
    text-decoration: none;
    margin: 12px;
    display: block;
    color: black;
}
.burger-menu_link:hover{
    color: #3f3c3c;
}
.burger-menu_nav{
    display: none;
    position: absolute;
    width: 200px;
    height: 328px;
    border: 1px solid;
    background: #efefef;
}

.burger-menu_nav.active{
    display: block;
}
.burger-menu_button{
    margin: 20px;
    cursor: pointer;
    border: none;
    background-color: #d9d9d9;
    border-radius: 2px;
    padding: 7px;
    width: 85px;
}
.wrapper-param{
    display: flex;
    line-height: 40px;

}
.name-param{
    display: flex;
    width: 100%;
    border-bottom: 1px dotted #d2d2d2;
    content: "";
}

.value-param{
    width: 50%;
}
.wrapper-product-details{
    line-height: 30px;
}
.product-title{
    font-size: 30px;
}
.wrapper-img-product{
    height: 250px;
    width: 250px;
    border: 1px solid;
}
.container-product-details{
    margin: 25px;
}
.param-title{
    margin: 25px 0;
    font-size: 30px;
}
.logo{
    width: 40px;
}
.img-product{
    width: 170px;
    height: 170px;
    margin: 10px auto;
    display: block;
}
.name-product{
    color: #000000b3;
    margin: 25px 10px;
    display: block;
    text-align: inherit;
    text-decoration: none;
}
.price-product{
    margin: 10px 10px;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
}
.img-price-available{
    display: flex;
    justify-content: space-between;
}
.price-available{
    position: absolute;
    right: 30%;
}
.product-available{
    background-color: #0dff0d38;
    border-radius: 5px;
    padding: 5px;
    width: 110px;
}
.product-available.false{
    background-color: rgb(198 198 198 / 63%);
}
.product-prices{
    font-size: 30px;
    margin: 25px 0;
}
.wrapper-logo{
    margin: 13px;
}
.wrapper-vendor{
    display: flex;
}
.title-vendor{
    font-size: 20px;
    margin-right: 10px;
}
.vendor{
    font-size: 20px;
    font-weight: bold;
}
.product-title-code{
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
}
.spinner-border{
    position: absolute;
    left: 50%;
    top: 50%;
}
.er{
    position: absolute;
    top: 20px;
    left: 43%;
    width: 352px;
    height: 118px;
    background-color: rgb(252, 48, 48);

}
.er-text{
    margin: 0 auto;
    text-align: center;
}
#progress-bar1{
    position: absolute;
    display: flex;
    background: #f3ffff;
    border-radius: 10px;
    width: 60%;
    height: 32ch;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 5px #0000008a;
}
#progress_line {
    position: relative;
    left: 0;
    top: 0;
    width: 0;
    height: 15px;
    background: #00ff94;
    border-radius: 4px;
}
#percent-progress{
    font-size: 50px;
}
.wrap-prog-line{
    width: 62%;
}
#btn-close{
    position: absolute;
    bottom: 35px;
    border: none;
    background-color: #5fcf5f;
    font-size: 30px;
    border-radius: 17px;
    color: white;
    padding: 2px 20px;
    box-shadow: 0px 0px 5px #00000061;
    opacity: 0;
    animation: ani 2.5s forwards;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#complete{
    position: absolute;
    top: 26px;
    color: #2a9730;
    font-size: 43px;
    opacity: 0;
    animation: ani 2.5s forwards;
}